<div class="content-panel">
<p-card header="Simple Card">
    <div class="card flex justify-content-center">
        <p-accordion [multiple]="true">
            <p-accordionTab header="El Santo Rosario">
                <app-rosario />
            </p-accordionTab>
            <p-accordionTab header="Vía crucis">
                <app-viacrucis />
            </p-accordionTab>
            <p-accordionTab header="Oraciones del Consagrado">
                <app-org-consagrado />
            </p-accordionTab>
            <p-accordionTab header="15 Oraciones de Santa Brígida por 1 año">
                <app-org-snt-brigida-one />
            </p-accordionTab>
            <p-accordionTab header="Oraciones de Santa Brígida por 12 años">
                <app-org-snt-brigida-twelve></app-org-snt-brigida-twelve>
            </p-accordionTab>
            <p-accordionTab header="Siete Dolores De María">
                <app-dolores-maria />
            </p-accordionTab>
            <p-accordionTab header="Siete Domingos a San José">
                <app-domingos-sanjo />
            </p-accordionTab>
            <p-accordionTab header="Coronilla De La Misericordia">
                <app-coronilla-misericordia />
            </p-accordionTab>
            <p-accordionTab header="Coronilla De La Sangre Preciosa De Jesús">
                <app-coronilla-sangre-cristo></app-coronilla-sangre-cristo>
            </p-accordionTab>
            <p-accordionTab header="Oraciones En Latín">
                <app-org-latin></app-org-latin>
            </p-accordionTab>
            <p-accordionTab header="Más Oraciones">
                <app-org-otras></app-org-otras>
            </p-accordionTab>

        </p-accordion>
    </div>
</p-card>
</div>